.banner {
    background-image: url("../img/uh.jpg");
    padding: 25%;
    position:relative;
    background-attachment: fixed;
    z-index: 1;
}

.banner::after{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: index -1;
}
.menucolor{
    background-color: rgb(127, 255, 80);
}
.banner2{
    background-image: url("../img/oedri\ oedrei.jpg");
    padding: 25%;
    position:relative;
    background-attachment: fixed;
    z-index: 1;
}

.banner2::after{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: index -1;
}
.columnaDashboard{
    height: 100vh;
}
.opcion:hover{
    opacity: 0.5;
    
}
.body {
    height: 100vh;
    display:flex
}
.img2 {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s; /* Transición suave de 0.3 segundos al cambiar el tamaño */
}

.img2:hover .img2 {
    transform: scale(1.1); /* Escala al 110% del tamaño original */
}